<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFbLvG78ClBSI60ZT4Tk0oqFuUbqGjtPA</string>
	<key>GCM_SENDER_ID</key>
	<string>1002352386101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todosobremiclub.app</string>
	<key>PROJECT_ID</key>
	<string>todosobremiclub-5e5a4</string>
	<key>STORAGE_BUCKET</key>
	<string>todosobremiclub-5e5a4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002352386101:ios:4d9adee07d01d3eedbd17c</string>
</dict>
</plist>